[submodule "src/mcp/git-commit-files"]
	path = src/mcp/git-commit-files
	url = git@github.com:KaribuLab/titvo-git-commit-files-aws.git
[submodule "src/mcp/issue-report"]
	path = src/mcp/issue-report
	url = git@github.com:KaribuLab/titvo-issue-report-aws.git
[submodule "src/mcp/bitbucket-code-insights"]
	path = src/mcp/bitbucket-code-insights
	url = git@github.com:KaribuLab/titvo-bitbucket-code-insights-aws.git
[submodule "src/mcp/github-issue"]
	path = src/mcp/github-issue
	url = git@github.com:KaribuLab/titvo-github-issue-aws.git
[submodule "src/agent"]
	path = src/agent
	url = git@github.com:KaribuLab/titvo-agent-aws.git
[submodule "src/api/task/trigger"]
	path = src/api/task/trigger
	url = git@github.com:KaribuLab/titvo-task-trigger-aws.git
[submodule "src/mcp/gateway"]
	path = src/mcp/gateway
	url = git@github.com:KaribuLab/titvo-mcp-gateway.git
